@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cardColor: #f0f0f0;
  --buttonsColor: #ffd643;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f9f9;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .buttonColor {
    background-color: #ffd643;
  }
  .experinceCard {
    background-color: #f0f0f0;
  }
  .badge {
    background-color: #d6d6d6;
  }
  .invalidSlot {
    background-color: #cccccc;
  }
  .summaryCard {
    background-color: #efefef;
  }
  .headerBackground {
    background-color: #f9f9f9;
  }
  .searchBackground {
    background-color: #ededed;
  }
  .textColor {
    color: #161616;
  }
  .descriptionColor {
    color: #6c6c6c;
  }
  .notSelected{
    color: #838383;
    border-color: #BDBDBD;
  }
  .aboutCard{
    color: #838383;
    background: #EEEEEE;
  }
  .lightText{
    color: #838383;
  }
  .soldOut{
    background-color: #CCCCCC;
  }
  .summaryText{
    color: #656565;
  }
  .summaryNotConfirm{
    color: #7F7F7F;
    background-color: #D7D7D7;
  }
  .inputTag{
    background-color: #DDDDDD;
    color:#727272;
  }

  /* CSS copied from https://skeleton-loader.web.app/#css-tab for skeleton */

  .skeletonLoader {
    position: relative;
    width: 280px;
    height: 312px;
    border-radius: 24px;
  }
  .skeletonLoader:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 12px;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        90deg,
        rgba(214, 214, 214, 0),
        rgba(214, 214, 214, 0.8) 50%,
        rgba(214, 214, 214, 0) 100%
      ),
      linear-gradient(#aaaaaa 27px, transparent 0),
      linear-gradient(#aaaaaa 27px, transparent 0),
      linear-gradient(#aaaaaa 16px, transparent 0),
      linear-gradient(#aaaaaa 170px, transparent 0),
      linear-gradient(#aaaaaa 16px, transparent 0),
      linear-gradient(#aaaaaa 27px, transparent 0),
      linear-gradient(#aaaaaa 16px, transparent 0),
      linear-gradient(#d6d6d6 100%, transparent 0);
    background-size: 140px 100%, 72px 27px, 105px 27px, 248px 16px, 280px 170px,
      248px 16px, 100px 27px, 100px 16px, 100% 100%;
    background-position: 0 0, 190px 183px, 14px 183px, 14px 226px, 0px 0px,
      14px 250px, 162px 274.0000153px, 14px 285px, 0 0;
    animation: skeleton-animation 2000ms infinite;
  }

  @keyframes skeleton-animation {
    to {
      background-position: 100% 0, 190px 183px, 14px 183px, 14px 226px, 0px 0px,
        14px 250px, 162px 274.0000153px, 14px 285px, 0 0;
    }
  }
}
